*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
DEVELOPMENT_PLAN.md
Plin_N12
Plin_N12_elements
.idea
.kotlin
app/release
Untitled